<div class="sidebar_widget sidebar_widget__types">
    <h3 class="widget_header">{% assign X = 'layout.sidebar.product_types' | t %}{% if X.size > 0 %}{{ X }}{% else %}Product Types{% endif %}</h3>

    <div class="widget_content">
        <ul class="list_links">
            {% for product_type in shop.types %}
                {% capture tmp_type %}{{ product_type | remove:' ' | remove:'&amp;' | remove:'&' }}{% endcapture %}
                {% capture tmp_title %}{{ page_title | remove:' ' | remove:'&amp;' | remove:'&' }}{% endcapture %}

                {% if product_type.size > 0 %}
                    <li class="{{ product_type }}{% if tmp_type == tmp_title %} active{% endif %}">{{ product_type | link_to_type }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>